appname = igo
httpport = 8080
runmode = dev
autorender = false
copyrequestbody = true
EnableDocs = true


mysql.user = "root"
mysql.pass = ""
mysql.host = "db"
mysql.database   = "beego"

log.driver = "console"
log.level = 7

jwt.mode = 2
# jwt.secret = ""
jwt.public_key_pem_path = "rsapublickey.pem"

auth.url = "http://auth:8080"